.btn{
    width: 70px;
    height: 70px;
    background-color: gold;
    border-radius: 5px;
    font-size: 2.5rem;
}
#screen{
    width: 285px;
    height: 80px;
    border-radius: 5px;
    font-size: 2.5rem;
}
.body1{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: center;
    gap: 5px;

}
.row2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 10px;
}
.row1{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
.btn1{
    width: 145px;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 2.5rem;
}
