.btn{
    width: 70px;
    height: 70px;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 2.5rem;
}
#screen{
    width: 285px;
    height: 80px;
    border-radius: 5px;
    font-size: 2.5rem;
}
.body1{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    
}
.row{
    display: flex;
    justify-content: center;
    gap: 5px;

}
.screen{
    display: flex;
    justify-content: center;
}
